:root{
  --bg-light: #29C5F6;
  --bg-dark: #3e3e42;
}

*{
  box-sizing: border-box;
}

/* remove later */
body{
  padding: 1rem;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 500;
}

h2, h3, h4, p{
  margin: 0;
}

h2, h3, h4{
  font-weight: 300;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2.3rem;
}

h4{
  font-size: 2rem;
}

.fw-bold{
  font-weight: bold;
}

@media screen and (min-width: 768px){
  body{
    font-size: 1.28rem;
  }
  
  h2{
    font-size: 4rem;
  }

  h3{
    font-size: 2.8rem;
  }

  h4{
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px){
  body{
    font-size: 1.32rem;
  }

  h2{
    font-size: 5rem;
  }

  h3{
    font-size: 3.4rem;
  }

  h4{
    font-size: 2.5rem;
  }
}

/* CONTAINER */
.container{
  padding: 1rem 1.5rem;
  /* remove this line below after done*/
  border: 1px solid black; 
  border-radius: 1.5rem;
}

/* LIST */
.list{
  padding: 0;
  margin: 0;
}

.list--row{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.list-item{
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid lightgrey;
}

.list-item:last-child{
  border-bottom: 0;
}

.list--row .list-item{
  border-bottom: 0;
}

/* RADIO BUTTON */
.hidden-radio{
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* MARGIN & PADDING */
.mb-1{
  margin-bottom: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

/* DISPLAY */
.d-flex-row{
  display: flex;
  flex-direction: row;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-end{
  align-items: end;
}

.align-items-center{
  align-items: center;
}

/* CARD */
.card{
  background-color: var(--bg-light);
  color: white;
}

.card__current-temp{
  font-size: 5.4rem;
}

.card__city{
  font-size: 2.4rem;
}

.card__weather-min-max{
  width: 7rem;
}