<form>
    <div class="container card">
      <label for="milwaukee">
        <div class="d-flex-row justify-content-between align-items-center mb-2">
          <div>
            <h3 class="card__city fw-bold">Milwaukee</h3>
            <p class="fw-bold">10:20</p>
          </div>
          <h2 class="card__current-temp">10&deg;</h2>
        </div>
        <div class="d-flex-row justify-content-between align-items-end fw-bold">
          <p>status</p>
          <div class="d-flex-row justify-content-between card__weather-min-max">
            <p>H:36&deg;</p>
            <p>L:10&deg;</p>
          </div>
        </div>
      </label>
      <input type="radio" name="milwaukee" id="milwaukee" class="hidden-radio" />
    </div>