<section class="container hourly-forecast mb-2">
  <ul class="list list--row">
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
    <li class="list-item d-flex-col align-items-center mr-2">
      <p class="hourly-forecast__time">3AM</p>
      <img src="./images/cloud.png" class="icon mt-2 mb-2" alt="cloud icon" />
      <p class="hourly-forecast__temp">27&deg;</p>
    </li>
  </ul>
</section>
